<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer class="mat-drawer-sidenav" mode="side" opened>
      <h1 *ngIf="contractor === null">Register your company before adding jobs!</h1>
      <button mat-mini-fab class="contractor-manage-button" *ngIf="contractor !== null" (click)="openAddJobDialog()">
        <mat-icon>add</mat-icon>
      </button>


      <mat-accordion  *ngIf="contractor">
        <h2>Offers:</h2>

        <mat-expansion-panel  *ngFor="let job of jobs" (opened)="getJobsCandidates(job.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <table>
                <tr>
                  <td><b>{{job.title}}</b></td>
                  <td>
                    <button mat-icon-button aria-label="Edit icon" (click)="openModifyJobDialog(job)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-icon-button aria-label="Delete icon" (click)="openRemoveJobDialog(job.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="dataSource" class="mat-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
            </ng-container>
            <!-- Date of Birth Column -->
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
              <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'MM/dd/yyyy'}} </td>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <!-- Experience Column -->
            <ng-container matColumnDef="experience">
              <th mat-header-cell *matHeaderCellDef> Experience </th>
              <td mat-cell *matCellDef="let element"> {{element.background.experience}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

          </table>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">
    <div>
      <h1 *ngIf="contractor === null">Register your company!</h1>
      <button mat-mini-fab class="contractor-manage-button" *ngIf="contractor === null" (click)="openAddContractorDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <form (ngSubmit)="modify()" *ngIf="contractor">
        <div class="contractor-manage-statistics">
          <ngx-charts-bar-horizontal
            [view]="[700,400]"
            [results]="horizontalChart"
            [scheme]=""
            [xAxisLabel]="'Company'"
            [yAxisLabel]="'Offers'"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [gradient]="true">>
          </ngx-charts-bar-horizontal>
        </div>
        <mat-horizontal-stepper linear #stepper class="contractor-manage-stepper">

          <mat-step [stepControl]="generalFormGroup">
            <form [formGroup]="generalFormGroup">
              <ng-template matStepLabel>General Info</ng-template>

              <mat-form-field appearance="fill" class="register_form_field">
                <mat-label>Name</mat-label>
                <label>
                  <input type="text" matInput formControlName="nameForm"
                         placeholder="Ex. Delgado">
                </label>
              </mat-form-field>
              <br>

              <mat-form-field appearance="fill" class="register_form_field">
                <mat-label>Description</mat-label>
                <label>
              <textarea cols="100" rows="15" type="text" matInput formControlName="descriptionForm" required
                        placeholder="Ex. Desc" cdkTextareaAutosize></textarea>
                </label>
              </mat-form-field>
              <br>

              <mat-form-field appearance="fill" class="register_form_field">
                <mat-label>Number of Employees</mat-label>
                <label>
                  <input type="text" matInput formControlName="nrOfEmployeesForm" required
                         placeholder="Ex. Delgado">
                </label>
              </mat-form-field>
              <br>

              <mat-label>
                <button mat-button (click)="uploadImageEvent()" class="contractor-manage-button">Upload</button>
                {{imageName}}
                <input #imageUpload type="file" style="display: none;" formControlName="logoForm">
              </mat-label>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>


          <mat-step [stepControl]="" [optional]=true>
            <form [formGroup]="">
              <ng-template matStepLabel>Location</ng-template>
              <agm-map [latitude]="latCluj" [longitude]="lngCluj" (mapClick)="onChosenLocation($event)">
                <agm-marker *ngIf="this.latitude !== null && this.longitude !== null" [latitude]="latitude" [longitude]="longitude"></agm-marker>
              </agm-map>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </form>
          </mat-step>

        </mat-horizontal-stepper>
        <button type="submit" mat-raised-button class="contractor-manage-button" [disabled]="contractor === null">Confirm</button>
      </form>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
