.job-card{
  height: 300px;
  max-height: 300px;
  width: 250px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  max-width: 250px;
  border: 2px solid rgba(0,0,0,0.71);
  /*box-shadow: 5px 5px rgba(0,0,0,0.71);*/
  border-radius: 5%;
  background-color: whitesmoke;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.card-img{
  width: 100px;
  height: 100px;
  text-align: center;
}
