.job-list-container{
  margin: 50px 15% 30px;
}

.job-list-filtering{
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-tile{
}

.paginator{
  background-color: rgba(0,0,0,0.71);
  color: rgba(241,255,1,0.71);
}
