.job-list-container{
  height: 91.9vh;
}

.grid-list {
  padding: 20px 20px 20px 110px !important;
  height: 84.1vh;
}

.grid-tile{
  padding: 20px 20px 20px 110px
}

.paginator{
  background-color: rgba(0,0,0,0.71);
  color: rgba(241,255,1,0.71);
}
