<div class="register_container">
  <h1>Register</h1>
  <form (ngSubmit)="register()" class="register_form">
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="generalFormGroup">
        <form [formGroup]="generalFormGroup">
          <ng-template matStepLabel>General Info</ng-template>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>User</mat-label>
            <label>
              <input type="text" matInput formControlName="usernameForm" required
                     placeholder="Ex. cristi1234">
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('usernameForm').hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Email</mat-label>
            <label>
              <input type="email" matInput formControlName="emailForm" required
                     placeholder="Ex. pat@example.com">
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('emailForm').invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Enter your password</mat-label>
            <label>
              <input matInput formControlName="passwordForm" [type]="hidePassword ? 'password' : 'text'" required>
            </label>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.generalFormGroup.get('passwordForm').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>First Name</mat-label>
            <label>
              <input type="text" matInput formControlName="firstNameForm" required
                     placeholder="Ex. Chris">
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('firstNameForm').hasError('required')">
              First Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Last Name</mat-label>
            <label>
              <input type="text" matInput formControlName="lastNameForm" required
                     placeholder="Ex. Delgado">
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('lastNameForm').hasError('required')">
              Last Name is required
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Date of Birth</mat-label>
            <label>
              <input type="date" matInput formControlName="birthDateForm" required
                     placeholder="Ex. 01/01/1990">
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('birthDateForm').hasError('required')">
              Date of Birth is required
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Telephone</mat-label>
            <label>
              <span matPrefix>+40 &nbsp;</span>
              <input type="tel" matInput placeholder="123-456-789" formControlName="telephoneForm" required>
              <mat-icon matSuffix>mode_edit</mat-icon>
            </label>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('telephoneForm').hasError('required')">
              Telephone is required
            </mat-error>
          </mat-form-field>
          <br>

          <mat-label>Gender:  </mat-label>
          <label>
            <mat-radio-group aria-label="Select an option" formControlName="genderForm" required>
              <mat-radio-button value="M">Male</mat-radio-button>
              <br/>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
          </label>
          <mat-error *ngIf="this.generalFormGroup.get('genderForm').hasError('required')">
            Gender is required
          </mat-error>

          <br>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="locationFormGroup" [optional]=true>
        <form [formGroup]="locationFormGroup">
          <ng-template matStepLabel>Address Info</ng-template>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Address</mat-label>
            <label>
              <input type="text" matInput formControlName="addressForm"
                     placeholder="Ex. Example Street Nr. 3">
            </label>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>City</mat-label>
            <label>
              <input type="text" matInput formControlName="cityForm"
                     placeholder="Ex. Cluj-Napoca">
            </label>
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="register_form_field">
            <mat-label>Country</mat-label>
            <label>
              <input type="text" matInput formControlName="countryForm"
                     placeholder="Ex. Romania">
            </label>
          </mat-form-field>
          <br>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="backgroundFormGroup">
        <form [formGroup]="backgroundFormGroup">
          <ng-template matStepLabel>Background Info</ng-template>

          <mat-label>Hunting/Recruiting:  </mat-label>
          <label>
            <mat-radio-group aria-label="Select an option" formControlName="permissionForm" required>
              <mat-radio-button value="client">Client</mat-radio-button>
              <br/>
              <mat-radio-button value="company">Company</mat-radio-button>
            </mat-radio-group>
          </label>
          <mat-error *ngIf="this.backgroundFormGroup.get('permissionForm').hasError('required')">
            Please specify what you are interested in!
          </mat-error>

          <div *ngIf="this.backgroundFormGroup.get('permissionForm').value === 'client'">

            <mat-form-field appearance="fill" class="register_form_field">
              <mat-label>Formal Education</mat-label>
              <label>
                <input type="text" matInput formControlName="formalEducationForm"
                       placeholder="Ex. Bachelor CS">
              </label>
              <mat-error *ngIf="this.backgroundFormGroup.get('formalEducationForm').hasError('required')">
                Please specify your formal education!
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="register_form_field">
              <mat-label>Experience</mat-label>
              <label>
                <select matNativeControl required formControlName="experienceForm">
                  <option value="entry">Entry</option>
                  <option value="junior">Junior</option>
                  <option value="medium">Medium</option>
                  <option value="senior">Senior</option>
                  <option value="lead">Lead</option>
                  <option value="manager">Manager</option>
                </select>
              </label>
              <mat-error *ngIf="this.backgroundFormGroup.get('experienceForm').hasError('required')">
                Please specify your experience!
              </mat-error>
            </mat-form-field>
            <br>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>

   <!-- <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>User</mat-label>
      <label>
        <input type="text" matInput [formControl]="usernameForm" required
               placeholder="Ex. cristi1234">
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="usernameForm.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>Email</mat-label>
      <label>
        <input type="email" matInput [formControl]="emailForm" required
               placeholder="Ex. pat@example.com">
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>Enter your password</mat-label>
      <label>
        <input matInput [formControl]="passwordForm" [type]="hidePassword ? 'password' : 'text'" required>
      </label>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>First Name</mat-label>
      <label>
        <input type="text" matInput [formControl]="firstNameForm" required
               placeholder="Ex. Chris">
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="firstNameForm.hasError('required')">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>Last Name</mat-label>
      <label>
        <input type="text" matInput [formControl]="lastNameForm" required
               placeholder="Ex. Delgado">
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="lastNameForm.hasError('required')">
        Last Name is required
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>Date of Birth</mat-label>
      <label>
        <input type="date" matInput [formControl]="birthDateForm" required
               placeholder="Ex. 01/01/1990">
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="birthDateForm.hasError('required')">
        Date of Birth is required
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="register_form_field">
      <mat-label>Telephone</mat-label>
      <label>
        <span matPrefix>+40 &nbsp;</span>
        <input type="tel" matInput placeholder="123-456-789" [formControl]="telephoneForm">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </label>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="telephoneForm.hasError('required')">
        Telephone is required
      </mat-error>
    </mat-form-field>
    <br>-->

    <button type="submit" mat-raised-button color="primary" [disabled]="this.generalFormGroup.get('emailForm').invalid || this.generalFormGroup.get('passwordForm').invalid
      || this.generalFormGroup.get('usernameForm').invalid || this.generalFormGroup.get('firstNameForm').invalid || this.generalFormGroup.get('lastNameForm').invalid ||
       this.generalFormGroup.get('birthDateForm').invalid || this.generalFormGroup.get('telephoneForm').invalid ||
      this.backgroundFormGroup.get('permissionForm').invalid || (this.backgroundFormGroup.get('permissionForm').value === 'client' && this.backgroundFormGroup.get('formalEducationForm').invalid) ||
      (this.backgroundFormGroup.get('permissionForm').value === 'client' && this.backgroundFormGroup.get('experienceForm').invalid ) ">Register</button>
  </form>

</div>
