<div class="toolbar_menu">
  <mat-toolbar class="toolbar">
    <button matTooltip="Modify account"
      mat-mini-fab class="toolbar-settings-button" *ngIf="currentUser !== null" (click)="openModifyUserDialog(this.currentUser)">
      <mat-icon>settings</mat-icon>
    </button>
    <button matTooltip="Home page"
      mat-raised-button class="toolbar-button" routerLink="">
      <mat-icon>card_travel</mat-icon> Job Recruitment</button>
    <img class="toolbar-img" *ngIf="currentUser !== null && currentUser.gender === 'M'" src="assets/male_avatar.png" alt="Generic Male Avatar">
    <img class="toolbar-img" *ngIf="currentUser !== null && currentUser.gender === 'F'" src="assets/female_avatar.png" alt="Generic Female Avatar">
    <span style="color: rgba(241,255,1,0.71)" *ngIf="currentUser">Welcome {{currentUser.firstName + ' ' + currentUser.lastName}}</span>
    <span class="example-spacer"></span>
    <form class="search-form">
      <mat-form-field>
        <input type="search"
               placeholder="Search"
               matInput
               matTooltip="Search by job title"
               class="search-input"
               [formControl]="searchForm"
               [matAutocomplete]="auto">
        <button mat-button *ngIf="searchForm.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredJobTitles | async" [value]="option" (click)="goToJobDetails(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <button mat-raised-button class="toolbar-button" routerLink="contractor-manage" *ngIf="currentUser && currentUser.permission.isCompany">Manage
      <mat-icon>business</mat-icon>
    </button>
    <button mat-raised-button class="toolbar-button" routerLink="admin" *ngIf="currentUser && currentUser.permission.isAdmin">Settings
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-raised-button class="toolbar-button" routerLink="login" *ngIf="currentUser === null">Login</button>
    <button mat-raised-button class="toolbar-button" routerLink="register" *ngIf="currentUser === null">Register</button>
    <button mat-raised-button class="toolbar-button" routerLink="login" *ngIf="currentUser" (click)="logout()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>Logout</button>
  </mat-toolbar>
</div>
<div class="toolbar_body">
  <router-outlet></router-outlet>
</div>
