.example-spacer {
  flex: 1 1 auto;
}


.toolbar_menu{
  top: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.toolbar{
  background-color: rgba(0,0,0,0.71);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toolbar-button{
  background-color: rgba(241,255,1,0.71);
  color: rgba(0,0,0,0.71);
  margin-right: 15px;
  margin-left: 30px;
  text-align: center;
  font-size: large;
}
.toolbar-settings-button{
  background-color: rgba(241,255,1,0.71);
  color: rgba(0,0,0,0.71);
  margin-left: 20px;
  text-align: center;
  font-size: large;
}

::-webkit-input-placeholder {
  color: rgba(241,255,1,0.71);
}

.search-input{
  color: rgba(241,255,1,0.71);
}


.search-form button{
  background-color: rgba(241,255,1,0.71);
}

.search-form{
  width: 300px;
}

.toolbar-img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
