<div class="toolbar_menu">
  <mat-toolbar class="toolbar">
    <button mat-raised-button class="toolbar-button" routerLink="">Job Recruitment</button>
    <span style="color: rgba(241,255,1,0.71)" *ngIf="currentUser">Welcome {{currentUser.firstName + ' ' + currentUser.lastName}}</span>
    <span class="example-spacer"></span>
    <form class="search-form">
      <mat-form-field>
        <input type="text"
               placeholder="Search"
               matInput
               class="search-input"
               [formControl]="searchForm"
               [matAutocomplete]="auto">
        <button mat-button *ngIf="searchForm.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredJobTitles | async" [value]="option" (click)="goToJobDetails(option)">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-mini-fab (click)="search(searchForm.value)">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <span class="example-spacer"></span>
    <button mat-raised-button class="toolbar-button" routerLink="contractor-manage" *ngIf="currentUser && currentUser.permission.isCompany">Manage</button>
    <button mat-raised-button class="toolbar-button" routerLink="maps" *ngIf="currentUser && currentUser.permission.isAdmin">GoogleMaps
      <mat-icon>map</mat-icon>
    </button>
    <button mat-raised-button class="toolbar-button" routerLink="admin" *ngIf="currentUser && currentUser.permission.isAdmin">Settings
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-raised-button class="toolbar-button" routerLink="login" *ngIf="currentUser === null">Login</button>
    <button mat-raised-button class="toolbar-button" routerLink="register" *ngIf="currentUser === null">Register</button>
    <button mat-raised-button class="toolbar-button" routerLink="" *ngIf="currentUser" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
<div class="toolbar_body">
  <router-outlet></router-outlet>
</div>
