<div class="toolbar_menu">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Job Recruitment</span>
    <p *ngIf="currentUser">Welcome {{currentUser.firstName + ' ' + currentUser.lastName}}</p>
    <span class="example-spacer"></span>
    <a routerLink="job-list">Jobs</a>
    <a routerLink="login" *ngIf="currentUser === null">Login</a>
    <a routerLink="register" *ngIf="currentUser === null">Register</a>
    <a routerLink="" *ngIf="currentUser" (click)="logout()">Logout</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="toolbar_body">
  <router-outlet></router-outlet>
</div>
