.job-details-container{
  width: 50%;
  text-align: left;
  margin: 10px 25% 30px;
}

.job-details-button{
  background-color: rgba(0,0,0,0.71);
  color: rgba(241,255,1,0.71);
  margin: 20px;
  text-align: center;
  font-size: large;
}

.job-details-buttons{
  text-align: center;
}

