.job_modify_container{
  text-align: center;
}

.job_modify_form_field{
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

.job_modify_button{
  background-color: rgba(0,0,0,0.71);
  color: rgba(241,255,1,0.71);
  text-align: center;
  font-size: large;
}
