<div *ngIf="job" class="job-details-container">
    <h1 style="text-align: center">{{job.title}}</h1>
    <div style="text-align: center" *ngIf="currentUser && currentUser.permission.isAdmin">
      <button mat-icon-button matTooltip="Remove Job" aria-label="Delete icon" (click)="removeJob(job.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <h3 style="text-align: center">Posted by {{job.contractor.name}} averaging around {{job.contractor.nrOfEmployees}} employees</h3>
    <h3 style="text-align: center" *ngIf="currentUser !== null && currentUser.location !== null &&  currentUser.location.latitude !== null && currentUser.location.longitude !== null
      && job.contractor.location.latitude !== null && job.contractor.location.longitude !== null" >
      You are {{getHaversineDistance(latitudeUser, job.contractor.location.latitude,
      longitudeUser, job.contractor.location.longitude)}}
    kilometers away from {{job.contractor.name}}</h3>
    <p>{{job.contractor.description}}</p>
    <mat-divider></mat-divider>
    <p><b>Available posts: {{job.availablePos}} !</b></p>
    <p>Requirements: </p>

    <p>1.{{job.devType}}</p>
    <p>2.{{job.minExperience}}</p>
    <p>3.{{job.jobType}}</p>

    <p *ngIf="job.remote"><b>Attention: job is available remote only! </b></p>
    <mat-divider></mat-divider>
    <p>Necessary languages: {{job.techs}}</p>
    <p *ngIf="job.minCompensation !== 0">Monthly salary: {{job.minCompensation}} $</p>
    <p *ngIf="job.minCompensation === 0">Monthly salary: Undisclosed</p>
    <p><b> Description: </b></p>
    <span>{{job.description}}</span>
    <mat-divider></mat-divider>
    <div class="job-details-buttons">
      <button *ngIf="currentUser && !currentUser.permission.isCompany" mat-raised-button class="job-details-button"
              [disabled]="currentUser === null || currentUser.permission.isAdmin || (preference && preference.interested)" (click)="rateJob(true)">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button *ngIf="currentUser && !currentUser.permission.isCompany" mat-raised-button class="job-details-button"
              [disabled]="currentUser === null || currentUser.permission.isAdmin || (preference && preference.interested === false)" (click)="rateJob(false)">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <br>
      <button *ngIf="currentUser && !currentUser.permission.isCompany" mat-raised-button class="job-details-button"
              [disabled]="currentUser === null || currentUser.permission.isAdmin  || (preference && preference.applied)" (click)="apply()">
        Apply
      </button>
      <br>
      <button mat-raised-button class="job-details-button" (click)="moreLikeThis(job.id)">
        More Like This
      </button>
    </div>
    <div *ngIf="similarJobs">
      <button mat-raised-button style="margin-left: 10px"
              [disabled]="currentUser === null || !currentUser.permission.isClient" (click)="showAccuracy()"> Show accuracy
        <mat-icon>wifi_tethering</mat-icon>
      </button>
      <span *ngIf="toggleAccuracy && accuracy !== 0">Accuracy: {{accuracy}}%</span>
      <span *ngIf="toggleAccuracy && accuracy === 0">Rate some recommendations first!</span>
      <mat-grid-list class="grid-list" cols="3" rowHeight="375px" gutterSize="50px">
        <mat-grid-tile class="grid-tile" *ngFor="let job of similarJobs" [colspan]="1" [rowspan]="1" style="text-overflow: ellipsis;">
          <div style="text-align: center">
            <app-job-card [job]="job" (click)="navigateToJobDetails(job.id)"></app-job-card>
            <br>
            <button mat-raised-button (click)="rateRecommendation(true, job)"
                    [disabled]="currentUser === null || !currentUser.permission.isClient" class="relevance-button-up">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-raised-button (click)="rateRecommendation(false, job)"
                    [disabled]="currentUser === null || !currentUser.permission.isClient" class="relevance-button-down">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>
</div>

