<h1 mat-dialog-title style="text-align: center">Register Your Company</h1>
<div mat-dialog-content class="contractor-save-mat-dialog-content">
  <div>

      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="generalFormGroup">
          <form [formGroup]="generalFormGroup">

            <ng-template matStepLabel>General Info</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <label>
                <input type="text" matInput formControlName="nameForm" required
                       placeholder="Ex. Delgado">
              </label>
              <mat-error *ngIf="this.generalFormGroup.get('nameForm').hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" style="width: 50%;">
              <mat-label>Description</mat-label>
              <label>
              <textarea type="text" cols="50" matInput formControlName="descriptionForm" required
                        placeholder="Ex. Desc"></textarea>
              </label>
              <mat-error *ngIf="this.generalFormGroup.get('descriptionForm').hasError('required')">
                Description is required
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
              <mat-label>Number of Employees</mat-label>
              <label>
                <input type="number" min="1" matInput formControlName="nrOfEmployeesForm" required
                       placeholder="Ex. Delgado">
              </label>
              <mat-error *ngIf="this.generalFormGroup.get('nrOfEmployeesForm').hasError('required')">
                Nr. Of Employees is required
              </mat-error>
            </mat-form-field>
            <br>

            <mat-label>Logo</mat-label>
            <label>
              <button mat-button (click)="uploadImageEvent()" class="contractor-save-button">Upload</button>
              {{imageName}}
              <input #imageUpload type="file" accept="image/png, image/jpg, image/jpeg" style="display: none;" formControlName="logoForm" required>
            </label>
            <mat-hint>Upload the image in .png or .jpeg format!</mat-hint>
            <mat-error *ngIf="this.generalFormGroup.get('logoForm').hasError('required')">
              Logo is required
            </mat-error>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="" [optional]=true>
          <form [formGroup]="">
            <ng-template matStepLabel>Location</ng-template>
            <agm-map [latitude]="latCluj" [longitude]="lngCluj" (mapClick)="onChosenLocation($event)">
              <agm-marker *ngIf="locationChosen" [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
  </div>
</div>

<div mat-dialog-actions class="contractor-save-mat-dialog-actions">
  <button class="contractor-save-button" mat-button mat-dialog-close="cancel">Cancel</button>
  <button class="contractor-save-button" mat-raised-button mat-dialog-close="Contractor saved!" color="primary" (click)="register()" [disabled]="this.generalFormGroup.get('nameForm').invalid ||
     this.generalFormGroup.get('descriptionForm').invalid || this.generalFormGroup.get('nrOfEmployeesForm').invalid ||
      this.generalFormGroup.get('logoForm').invalid">Confirm</button>
</div>


