
.contractor-save-mat-dialog-content{
  text-align: center;
  padding: 30px;
}

.contractor-save-mat-dialog-actions{
  text-align: center;
}

agm-map {
  height: 300px;
  width: 500px;
  text-align: center;
}
