
.contractor-save-mat-dialog-content{
  text-align: center;
  padding: 30px;
}

.contractor-save-mat-dialog-actions{
  justify-content: center;
}

.contractor-save-button{
  background-color: rgba(0,0,0,0.71);
  color: rgba(241,255,1,0.71);
  margin: 20px;
  text-align: center;
  font-size: large;
}

agm-map {
  height: 300px;
  width: 500px;
  text-align: center;
}
